include requirements.txt
include readme.md
include LICENSE
recursive-include video_analyzer/config *
recursive-include video_analyzer/prompts *
global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude .git*
